@use 'sass:meta';
@include meta.load-css('swiper/scss');
@include meta.load-css('swiper/scss/scrollbar');
@include meta.load-css('swiper/scss/navigation');
@include meta.load-css('swiper/scss/thumbs');

.thumbs-gallery__thumbnail-image {
  max-height: 550px;
  max-width: 140px;
  margin-right: 15px;
  &.lighbox {
    max-height: 100%;
    margin: 0 30px;
    flex-shrink: 0;
  }
  .swiper-slide-thumb-active img {
    border: 2px solid #000;
  }

  .swiper-slide {
    height: fit-content;
  }
  .swiper-wrapper {
    margin-right: 15px;
  }
}

.thumbs-gallery__main-image {
  max-width: 491px;
  &.lightbox {
    max-width: 75%;
  }
  &:not(.lightbox) {
    max-height: 548px;
    overflow: hidden;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
  }
  .swiper-button-prev,
  .swiper-button-next {
    height: 3.5rem;
    width: 3.5rem;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #efefef;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px 0px #00000059;
    box-sizing: border-box;
    color: #000;
    &::after {
      font-size: xx-large;
    }
  }
  svg path {
    fill: #000;
  }
}

.horizontal-gallery {
  &:not(.lightbox) {
    max-height: 480px !important;
    display: block;
    overflow: hidden;
  }

  &.lightbox {
    height: calc(100dvh - 65px);
    .swiper-slide {
      padding-bottom: 70px;
    }
  }
}
